    @media screen and (max-width:950px) {
    
    .topnav{
    
    
		position:sticky;
		float:none;
		display:block;
		text-align:center;
		
		font-size:18px;
		padding: 2% 1% 1% 2%;
		
		
    }
    
    .topnav a:not(:first-child) {
    
		display:none;
		
    
    }
    
    .topnav a.icon {
    
		display:block;
		float:right;
		
    
    
    }
    
    .topnav.responsive {
    
		position:sticky;
    
    }
    
    .topnav.responsive .icon{
    
		position:absolute;
		right:0;
		top:0;
		padding : 2% 1% 1% 2%;
		
    }
    
    .topnav.responsive a {
    
		display:block;
		float:none;
		text-align:left;
		
    }
    
   }
   
     @media screen and (min-width:951px){
	
	.topnav{
	    
	    float:center;
	    text-align:center;
        overflow:hidden;
	    padding: 1% 10px 10px 5px;
          
        }
	
	.topnav .icon{
	
	  display:none;
	  
	  
	}
	
	.topnav a {
	  
	  float:center;
	  text-align:left;
	  font-size:16px;
	  padding:0 2% 0 2%;
	  text-decoration:none;
	
	}
	
    }
   
	a:link {

        color: rgb(247, 156, 46);
        text-decoration: none;
      }


    a:visited {

        color: rgb(247, 156, 46);
        text-decoration: none;

      }


    a:hover {

        color: rgb(38, 131, 168);
        text-decoration: none;

      }


    a:active {

        color: blue;
        text-decoration: none;

      }
