
    
    @media screen and (max-width:750px){

        body{
            
            width:auto;

        }
        
        
        
	 
	 #iframeid {
	 
	    display:block;
	    float:center;
	    margin-top:1%;
	    margin-bottom:1%;
	    width:100%;
	 
	 }

            .articlenewspage{

                
                width:95%;
                margin:10px 15px 5px 15px;
                padding:5px 5px 5px 5px; 
        
              }
            

              
              .imgnewspage{
        
                height:25%; 
                width:25%;
                float:left;
                padding:1px 15px 1px 5px;
                margin:1px 5px 1px 5px;
        
              }
              .paragraphnewspage{
                
                width:85%;
                text-align:justify;
                margin: 0 auto;
                padding:2px 15px 5px 20px;
                color:rgb(255, 255, 240);
        
              }
        
              .headingnewspage{
        
                width:85%;
                text-align:justify;
                margin: 0 auto;
		padding:2px 15px 5px 20px;
                color:#ff6266;
        
              }
		
	      .divborder{
			 	
		  border-left:1px solid white;
		  border-right:1px solid white;
	  
	      }
	}
	
	


    @media screen and (min-width:751px){

	.articlenewspage{
    
	    width:80%;
	    margin:10px 20px 5px 20%;
	    padding:5px 5px 5px 5px; 
    
	  } 
    
    
	.imgnewspage{
    
	    height:10%; 
	    width:5%;
	    float:left;
	    padding:1px 1px 1px 5px;
	    margin:5px 20px 5px 10px;
    
	  }
    
	.paragraphnewspage{
    
	    width:85%;
	    text-align:justify;
	    margin:0 auto;
	    padding:20px 1px 5px 1px;
	    color:rgb(255, 255, 240);
    
	  }
    
	.headingnewspage{
	    
	    width:85%;
	    text-align:justify;
	    padding:1px 1px 5px 5px;
	    margin: 0 auto;
	    color:#ff6266;
    
	  }
	  
	#iframeid {
	  
	    display:block;
	    float:center;
	    margin-top:2%;
	    margin-bottom:2%;
	    width:560px;
	    height:315px;
	  
	  }
	}

    .footerclass{
	
	position: static;

	}
    

