
<!DOCTYPE html>
<html lang=en-US>

<head>

	<title>
		Sobhan Esfandyari Personal Website | DAWSHESSI
	</title>

  {% include 'header.html' %}
  <meta name="keywords" content="sobhan esfandiari signup,sobhanessi signup,sobhan esfandyari signup,signup dawshessi,signup sobhanessi">
  
  {% load static %}
  <link href="{% static 'pages/contact.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'pages/general.css' %}" rel="stylesheet" type="text/css" />
  
</head>

<body id="indexbody">
{% include 'navbar.html' %}
<br><br>

 <form style="width:auto%;" method='POST' action='.' > {% csrf_token %}
 <div class="container">
   <p style="text-align:center;">Sign Up Form :</p>
   <br>
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:40%;">Username:&nbsp;</span>

      {{ form.username }}
      
    </div><br>
    
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:40%;">Password:&nbsp;</span>
      {{ form.password1 }}

    </div>
    <br>
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:40%;">Password Confirmation:&nbsp;</span>
      {{ form.password2 }}

    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="submit">
</div>
</form>
{% include 'footer.html' %}

</body>

</html>


