
<!DOCTYPE html>
<html lang=en-US>

<head>

	<title>
		Sobhan Esfandyari Personal Website | DAWSHESSI
	</title>
{% include 'header.html' %}
  {% load static %}
  <link href="{% static 'pages/newscreate.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'pages/general.css' %}" rel="stylesheet" type="text/css" />

</head>

<body id="indexbody">
{% include 'navbar.html' %}
<br><br>

 <form style="width:auto%;" method='POST' action='.' enctype="multipart/form-data"> {% csrf_token %}
 <div class="container">
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:20%;">Author</span>

      {{ form.author }}
      
    </div><br>
    
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:20%;">title</span>
      
      {{ form.title }}

    </div>
    <br>
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:20%;">tags</span>
      {{ form.tags }}

    </div>
    <br>
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:20%;">choice</span>

      {{ form.choice }}
      
    </div>
    <br>
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:20%;">slug</span>
      
      {{ form.slug }}

    </div>
    <br>
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:20%;">main pic</span>

      {{ form.main_pic }}
      
    </div>
    <br>
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:20%;">brief</span>
      
      {{ form.brief }}

    </div>
    <br>
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:20%;">article</span>
      
      {{ form.article }}

    </div>
    <br>
    
    <div class="input-group" style="width:100%;">
      <input type="submit" class="btn btn-primary" value="Save">
    </div>
</div>

</form>


</body>

</html>


