
<!DOCTYPE html>
<html lang=en-US>

<head>

	<title>
		Sobhan Esfandyari Personal Website | DAWSHESSI
	</title>
{% include 'header.html' %}
  {% load static %}
  <link href="{% static 'pages/newscreate.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'pages/general.css' %}" rel="stylesheet" type="text/css" />

</head>

<body id="indexbody">
{% include 'navbar.html' %}
<br><br>
{% if user.username == 'admin' %}
 <form style="width:auto%;" method='POST' action='.' enctype="multipart/form-data"> {% csrf_token %}
 <div class="container">
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:20%;">Author</span>

      <input type='text' name='{{ form.author.name }}'  id='{{ form.author.id_for_label }}' class = 'form-control'>
      
    </div><br>
    
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:20%;">title</span>
      
      <input type='text' name='{{ form.title.name }}'  id='{{ form.title.id_for_label }}' class = 'form-control'>

    </div>
    <br>
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:20%;">tags</span>
      <input type='text' name='{{ form.tags.name }}'  id='{{ form.tags.id_for_label }}' class = 'form-control'>

    </div>
    <br>
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:20%;">choice</span>

      {{ form.choice }}
      
    </div>
    <br>
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:20%;">slug</span>
      
      <input type='text' name='{{ form.slug.name }}'  id='{{ form.slug.id_for_label }}' class = 'form-control'>

    </div>
    <br>
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:20%;">main pic</span>

      {{ form.main_pic }}
      
    </div>
    <br>
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:20%;">brief</span>
      
      <textarea name='{{ form.biref.name }}'  id='{{ form.breif.id_for_label }}' class = 'form-control' aria-label="brief"></textarea>

    </div>
    <br>
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:20%;">article</span>
  
      <textarea name='{{ form.article.name }}'  id='{{ form.article.id_for_label }}' class = 'form-control' aria-label="article"></textarea>

    </div>
    <br>
    
    <div class="input-group" style="width:100%;">
      <input type="submit" class="btn btn-primary" value="Save">
    </div>
</div>

</form>
{% else %}
  <h1 style="font-size:54px; text-align:center; color:white;"> You're not auhtorized to write</h1>
{% endif %} 

</body>

</html>


