
<!DOCTYPE html>
<html lang=en-US>

<head>

	<title>
		Sobhan Esfandyari Personal Website | DAWSHESSI
	</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width , initial-scale=1.0">
  <meta name="description" content="Contact Sobhan Esfandyari">
  <meta name="author" content="sobhanessi,Sobhan Esfandyari,Sobhan Esfandiari">
  <meta name="keywords" content="dawshessi, sobhanessi, sobhanesfandiari, Sobhan Esfandiari,Sobhan Esfandyari,sobhan esfandiari email,sobhanessi contact,sobhan esfandyari email,contact dawshessi,contact sobhanessi">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <![endif]-->
  {% load static %}
  <link href="{% static 'pages/contact.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'pages/general.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet"> 
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body id="indexbody">
{% include 'navbar.html' %}
<br><br>

 <form style="width:auto%;" method='POST' action='.' > {% csrf_token %}
 <div class="container">
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:40%;">Username:&nbsp;</span>

      {{ form.username }}
      
    </div><br>
    
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:40%;">Email:&nbsp;</span>
      {{ form.email }}

    </div>
    <br>
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:40%;">Password:&nbsp;</span>
      {{ form.password }}

    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="submit">
</div>
</form>
{% include 'footer.html' %}

</body>

</html>


