{% extends './news.html' %}
{% block seo %}
	dawshessi, sobhanessi, sobhanesfandiari, Sobhan Esfandiari,Sobhan Esfandyari ,sobhanessi news,sobhanessi hardware,sobhan esfandiari news, dawshessi news, dawshessi hardware, sobhanessi politics, dawshessi politics, esfandyari politics,
{% endblock %}
{% load static %}
{% block static_css_adding %}
    <link href="{% static 'pages/news.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main_news %}
	
	{% if user.username == 'admin' %}
		<p class="paragraphnewspage">
			
			<a href="{% url 'news_create' %}">Create a new News.</a>
		</p>
	{% endif %}
	{% for i in object_list %}
		<article class="articlenewspage">
		  <img class="imgnewspage" src="{{ i.main_pic.url }}" alt="akse khabar">
		  <a href="{{ i.get_absolute_url }}">
			  <h3 class="headingnewspage">
					{{ i.title }}
			  </h3>
		  </a>
		  <p class="paragraphnewspage">
			{{ i.brief | safe }}
		  <a href="{{ i.get_absolute_url }}">Read More</a>
		  </p>
		</article>
		<br><br><br>
		<hr>
	{% endfor %}
{% endblock %}
