<!DOCTYPE html>
<html lang=en-US>
<head>

<title>
    Sobhan Esfandyari Personal Website | DAWSHESSI
</title>

{% include 'header.html' %}
<!-- yadam bashe inja baraye seo tag hayi ke zadam ro biaram inja -->
<meta name="keywords" content="{% block seo %} {% endblock %}">

{% load static %}
<link href="{% static 'pages/general.css' %}" rel="stylesheet" type="text/css" />
  {% block static_css_adding %}
  {% endblock %}
</head>
{% include 'navbar.html' %}
<body id="indexbody">


<hr><br><br>
    
    {% block main_news %}
    {% endblock %}
    
<br><br>
{% include 'footer.html' %}

</body>

</html>
