{% extends './news.html' %}

{% load static %}
{% block static_css_adding %}
    <link href="{% static 'pages/subnews.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block seo %}
	{{ object.tags }}
{% endblock %}
{% block main_news %}
		
		<article class="articlenewspage">
		  <img class="imgnewspage" src="{{ object.main_pic.url }}" alt="akse khabar">
		  <br><br>
		  <h3 class="headingnewspage">
			{{ object.title }}
		  </h3>
		  <p class="paragraphnewspage" style="font-size:0.9vw; font-style:italic;">
			{{ object.author }} <br>
			{{ object.date | date:"SHORT_DATETIME_FORMAT" }}
		  </p>
		  <p class="paragraphnewspage">
			{{ object.brief }}
		  </p>
		  <p class="paragraphnewspage">
			{{ object.article | safe }}
		  </p>
		  
		 <!-- inja dastresi ha ro dorost konam -->
		  
		  {% if user.is_staff %}
		  <p class="paragraphnewspage">
			  <a href="{{object.get_absolute_url}}edit"> edit</a>
			  <a href="{{object.get_absolute_url}}delete"> delete</a>
		  </p>
		  {% endif %}
		</article>
		<br><br><br>
		<hr>
		<article class="articlenewspage">
			{% for comment in object.comments.all %}
				<p class="paragraphnewspage">
					{{ comment.author }}
					{{ comment.comment }}
				</p>
			{% endfor %}
		</article>

{% endblock %}
