{% extends './news.html' %}

{% load static %}
{% block static_css_adding %}
    <link href="{% static 'pages/subnews.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main_news %}
		<hr>
		<article class="articlenewspage">
		  <img class="imgnewspage" src="{{ object.main_pic.url }}" alt="akse khabar">
		  <br><br>
		  <h3 class="headingnewspage">
			{{ object.title }}
		  </h3>
		  <p class="paragraphnewspage">
			{{ object.article | safe }}
		  </p>
		</article>
		<br><br><br>
		<hr>

{% endblock %}
