{% extends './news.html' %}

{% load static %}
{% block static_css_adding %}
    <link href="{% static 'pages/subnews.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block main_news %}
		<hr>
		<article class="articlenewspage">
		  <img class="imgnewspage" src="{{ object.main_pic.url }}" alt="akse khabar">
		  <br><br>
		  <h3 class="headingnewspage">
			{{ object.title }}
		  </h3>
		  <p class="paragraphnewspage">
			{{ object.article | safe }}
		  </p>
		  {% ############################## inja bayad dastresi bezaram ke bebine
			  user i ke vared shode hagh dare edit kone ya na
			  agar na ke neshoon nade
			   ######################## %}
		  <p class="paragraphnewspage">
			  <a href="{{object.get_absolute_url}}edit"> edit</a>
		  </p>
		</article>
		<br><br><br>
		<hr>

{% endblock %}
