
<!DOCTYPE html>
<html lang=en-US>

<head>

	<title>
		Sobhan Esfandyari Personal Website | DAWSHESSI
	</title>

  <meta name="keywords" content="dawshessi, sobhanessi, sobhanesfandiari, Sobhan Esfandiari,Sobhan Esfandyari,sobhan esfandiari email,sobhanessi contact,sobhan esfandyari email,contact dawshessi,contact sobhanessi">
  {% include 'header.html' %}
  {% load static %}
  <link href="{% static 'pages/contact.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'pages/general.css' %}" rel="stylesheet" type="text/css" />

</head>

<body id="indexbody">
{% include 'navbar.html' %}
<br><br>
 
 <form style="width:100%;" method='POST' action='.' > {% csrf_token %}
 <div class="container">
    <div class="input-group" style="width:100%;">
      
      <span class="input-group-addon" style="width:20%;">Username:&nbsp;<i class="glyphicon glyphicon-user"></i></span>

<!--
      <input type='text' name='{{ form.author.name }}'  id='{{ form.author.id_for_label }}' class = 'form-control'>
-->

      {{ form.email }}

    </div>
    <br>
    <div class="input-group" style="width:100%;">
      <span class="input-group-addon" style="width:40%;">Message:&nbsp;</span>
      <textarea name='{{ form.message.name }}'  id='{{ form.message.id_for_label }}' class = 'form-control' rows=8 cols=10></textarea>
    </div>
    
    <br>
    <input type="submit" class="btn btn-primary" value="submit">
  
</div>
</form>
 
 
<div>
	<br><br><br><br><br>
</div>

{% include 'footer.html' %}

</body>

</html>
