<!DOCTYPE html>
<html lang=en-US>

<head>

<title>
    Sobhan Esfandyari Personal Website | DAWSHESSI
</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width , initial-scale=1.0">
<meta name="description" content="Sobhan Esfandyari Personal Website">
<meta name="author" content="sobhanessi,Sobhan Esfandyari,Sobhan Esfandiari">
<meta name="keywords" content="dawshessi, sobhanessi, sobhanesfandiari, Sobhan Esfandiari,Sobhan Esfandyari">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<![endif]-->


<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
<link href="{% static 'pages/general.css' %}" rel="stylesheet" type="text/css" />
{% block static_css_adding %}
{% endblock %}

<!---->


</head>

<body id="indexbody">

{% include 'navbar.html' %}
<!---->


{% block content %}
{% endblock %}


{% include 'footer.html' %}


</body>

</html>
