<!DOCTYPE html>
<html lang=en-US>

<head>

<title>
    Sobhan Esfandyari Personal Website | DAWSHESSI
</title>
{% include 'header.html' %}
<meta name="keywords" content="dawshessi, sobhanessi, sobhanesfandiari, Sobhan Esfandiari,Sobhan Esfandyari">

{% load static %}
<link href="{% static 'pages/general.css' %}" rel="stylesheet" type="text/css" />
{% block static_css_adding %}
{% endblock %}

<!---->


</head>

<body id="indexbody">

{% include 'navbar.html' %}
<!---->


{% block content %}
{% endblock %}


{% include 'footer.html' %}


</body>

</html>
