{% load static %}
{% block static_css_adding %}
<link href="{% static 'pages/footer.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}
<div>

<footer class="footerclass">
<hr>

<p>&copy; 2019 Sobhan Esfandyari | Dawshessi | Sobhanessi</p>
<p>
  <a href="https://www.github.com/sobhanessi">
    <i class='fa fa-github' style='font-size:36px;color:white;'></i>
  </a>  
	<a href="https://linkedin.com/in/sobhanesfandyari">
    <i class='fa fa-linkedin' style='font-size:36px;color:white;'></i>
  </a>
</p>

</footer>
</div>
