{% load static %}
{% block static_css_adding %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/navbar.css' %}" />
{% endblock %}
<div class="topnav" id="myTopnav">

    <a href="{% url 'home' %}"><i class="fa fa-home"></i>  Home </a>
    <a href="{% url 'contact' %}"><i class="fa fa-envelope"></i> Contact </a>

    <a href="{% url 'politics' %}"><i class="fa fa-book"></i>  Politics </a>
    <a href="{% url 'aboutme' %}"><i class="fa fa-paperclip"></i>  About Me </a>
    <a href="{% url 'main_news' %}"><i class="fa fa-rss"></i>  Computer News </a>
    
    {% if user.is_authenticated %}
       <a href="{% url 'logout' %}"><i class="fa fa-users"></i>
         {{ user.username }} / Log Out
        </a>
    {% else %}
        <a href="{% url 'login' %}"><i class="fa fa-users"></i>  Login / Sign Up</a>
    {% endif %}
    
    
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i></a>



<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
<hr>
</div>
