{% load static %}
{% block static_css_adding %}
<link rel="stylesheet" type="text/css" href="{% static 'pages/navbar.css' %}" />
{% endblock %}
<ul class="topnav" id="myTopnav">

    <li><a href="{% url 'home' %}"><i class="fa fa-home"></i>  Home </a></li>
    <li><a href="{% url 'contact' %}"><i class="fa fa-envelope"></i> Contact </a></li>

    <li><a href="{% url 'politics' %}"><i class="fa fa-book"></i>  Politics </a></li>
    <li><a href="{% url 'aboutme' %}"><i class="fa fa-paperclip"></i>  About Me </a></li>
    <li><a href="{% url 'main_news' %}"><i class="fa fa-rss"></i>  Computer News </a></li>
    
    {% if user.is_authenticated %}
       <li><a href="{% url 'logout' %}"><i class="fa fa-users"></i>
         {{ user.username }} / Log Out
        </a></li>
    {% else %}
        <li><a href="{% url 'login' %}"><i class="fa fa-users"></i>  Login / Sign Up</a></li>
    {% endif %}
    
    
    <li href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i></li>



<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>
<hr>
</ul>
